.DS_Store
.idea/
*.pyc

.ipynb_checkpoints/

data/software/
data/Fluo-N2DH-SIM+/cell_lineage_tree_Fluo-N2DH-SIM+02.fig
data/Fluo-N2DH-SIM+/cell_lineage_tree_Fluo-N2DH-SIM+02.png
data/Fluo-N2DH-SIM+/ST-feature-computation-plot-Fluo-N2DH-SIM+01.fig
data/Fluo-N2DH-SIM+/Plots_Results_Fluo-N2DH-SIM+02.fig
